.vercel
node_modules/
.next/
out/
build/
.DS_Store
*.log
.env.local

# Sentry Config File
.env.sentry-build-plugin

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
